<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>

    <script th:src="@{/webjars/jquery/jquery.min.js}"
            src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script th:src="@{/webjars/Semantic-UI/semantic.min.js}"
            src="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <link th:href="@{/webjars/Semantic-UI/semantic.min.css}" rel="stylesheet"
          href="http://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css" type="text/css"/>
    <link th:href="@{/resources/css/style.css}" rel="stylesheet"
          href="../static/resources/css/style.css" type="text/css"/>

    <div th:switch="${instance}">
        <div th:case="'Eventmanager'" class="field">
            <title th:text="#{user.eventmanager}">!!!ERROR!!!</title>
        </div>
        <div th:case="'Landlords'" class="field">
            <title th:text="#{user.landlord}">!!!ERROR!!!</title>
        </div>
        <div th:case="'Tenants'" class="field">
            <title th:text="#{user.tenant}">!!!ERROR!!!</title>
        </div>
    </div>
</head>
<body>
<div class="ui container">
    <header>
        <div th:switch="${instance}">
            <div th:case="'Eventmanager'" class="field">
                <h1 th:text="#{user.eventmanager}">!!!ERROR!!!</h1>
            </div>
            <div th:case="'Landlords'" class="field">
                <h1 th:text="#{user.landlord}">!!!ERROR!!!</h1>
            </div>
            <div th:case="'Tenants'" class="field">
                <h1 th:text="#{user.tenant}">!!!ERROR!!!</h1>
            </div>
        </div>
    </header>

    <nav th:include="navigation :: navigation"></nav>

    <table class="ui fixed single line celled table">
        <thead>
        <tr>
            <th th:text="#{user.firstname}">!!!ERROR!!!</th>
            <th th:text="#{user.lastname}">!!!ERROR!!!</th>
            <th th:text="#{user.email}">!!!ERROR!!!</th>
            <th th:text="#{user.adress}">!!!ERROR!!!</th>
            <div th:switch="${instance}">
                <div th:case="'Eventmanager'" class="field">
                    <th th:text="#{user.company}">!!!ERROR!!!</th>
                </div>
            </div>
            <th th:text="#{general.delete}">!!!ERROR!!!</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each=" user : ${userList}">
            <td th:text="${user.userAccount.firstname}">!!!ERROR!!!</td>
            <td th:text="${user.userAccount.lastname}">!!!ERROR!!!</td>
            <td th:text="${user.userAccount.email}">!!!ERROR!!!</td>
            <td th:utext="${user.adress[0]}+ '&lt;br /&gt;' +${user.adress[1]}+ '&lt;br /&gt;' +${user.adress[2]}+ '&lt;br /&gt;' +#{'register.country.'+${user.adress[3]}}">!!!ERROR!!!</td>
            <div th:switch="${instance}">
                <div th:case="'Eventmanager'" class="field">
                    <td th:text="${user.company}">!!!ERROR!!!</td>
                    <td>
                        <form method="post" th:action="@{/eventmanager/delete}" th:object="${p}">
                            <input type="hidden" name="eventmanager_username" th:value="${user.userAccount.id}"/>
                            <button type="submit" class="ui button" th:text="#{general.delete}">!!!ERROR!!!</button>
                        </form>
                    </td>
                </div>
                <div th:case="'Landlords'" class="field">
                    <td>
                        <form method="post" th:action="@{/landlord/delete}" th:object="${p}">
                            <input type="hidden" name="landlord_username" th:value="${user.userAccount.id}"/>
                            <button type="submit" class="ui button" th:text="#{general.delete}">!!!ERROR!!!</button>
                        </form>
                    </td>
                </div>
                <div th:case="'Tenants'" class="field">
                    <td>
                        <form method="post" th:action="@{/tenant/delete}" th:object="${p}">
                            <input type="hidden" name="tenant_username" th:value="${user.userAccount.id}"/>
                            <button type="submit" class="ui button" th:text="#{general.delete}">!!!ERROR!!!</button>
                        </form>
                    </td>
                </div>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>